// Base
@import "base/_variables.scss";
@import "base/_mixins.scss";


/* Editor Styles
-------------------------------------------------------*/
.wp-block {
	max-width: 739px;
}

.meridia-left-sidebar,
.meridia-right-sidebar {

	.edit-post-visual-editor .block-editor-block-list__block .wp-block[data-align=full],
	.edit-post-visual-editor .block-editor-block-list__layout.is-root-container > .wp-block[data-align=full] {
		margin-left: auto;
		margin-right: auto;
	}

	.edit-post-visual-editor .wp-block[data-align=full],
	.edit-post-visual-editor .wp-block[data-align=wide] {
		max-width: 739px;
	}
}

// Alignment
.meridia-fullwidth {
	.wp-block[data-align=wide] {
		max-width: 1100px;
	}
}


@include bp-sm-down {
	.block-editor-block-list__block .wp-block[data-align=left] {
		float: none;
		margin-right: 0;
	}

	.block-editor-block-list__block .wp-block[data-align=right] {
		float: none;
		margin-left: 0;
	}

	.block-editor-block-list__block .wp-block[data-align=left],
	.block-editor-block-list__block .wp-block[data-align=right] {
		height: auto;
	}

	.wp-block-gallery.alignleft,
	.wp-block-gallery.alignright {
		max-width: 100%;
	}
}


/* Typography
-------------------------------------------------------*/
.edit-post-visual-editor a,
.editor-rich-text__tinymce a {
	color: $main-color;
	text-decoration: none;
}

.edit-post-visual-editor.editor-styles-wrapper {
	font-family: $body-font;
	font-size: 1.0625rem;
	line-height: 1.7;
	color: $text-color;
}

.edit-post-visual-editor p,
.edit-post-visual-editor,
.blocks-rich-text__tinymce.mce-content-body {
	font-size: inherit;
}


/* Headings
-------------------------------------------------------*/
.edit-post-visual-editor .editor-post-title__block .editor-post-title__input,
.edit-post-visual-editor h1.wp-block[data-type="core/heading"],
.edit-post-visual-editor h2.wp-block[data-type="core/heading"],
.edit-post-visual-editor h3.wp-block[data-type="core/heading"],
.edit-post-visual-editor h4.wp-block[data-type="core/heading"],
.edit-post-visual-editor h5.wp-block[data-type="core/heading"],
.edit-post-visual-editor h6.wp-block[data-type="core/heading"] {
	font-family: $heading-font;
	color: $heading-color;
	font-weight: 600;
}

.editor-post-title__block .editor-post-title__input {
	font-size: 2.125rem;
	text-transform: uppercase;
	letter-spacing: 0.1em;
	text-align: center;
}

.edit-post-visual-editor h1.wp-block[data-type="core/heading"] { font-size: 2.125rem; }
.edit-post-visual-editor h2.wp-block[data-type="core/heading"] { font-size: 2rem; }
.edit-post-visual-editor h3.wp-block[data-type="core/heading"] { font-size: 1.75rem; }
.edit-post-visual-editor h4.wp-block[data-type="core/heading"] { font-size: 1.5rem; }
.edit-post-visual-editor h5.wp-block[data-type="core/heading"] { font-size: 1.25rem; }
.edit-post-visual-editor h6.wp-block[data-type="core/heading"] { font-size: 1.125rem; }

@include bp-sm-down {
  .edit-post-visual-editor h1.wp-block[data-type="core/heading"] { font-size: 2rem !important; }
  .edit-post-visual-editor h2.wp-block[data-type="core/heading"] { font-size: 1.7rem !important; }
  .edit-post-visual-editor h3.wp-block[data-type="core/heading"] { font-size: 1.5rem !important; }
  .edit-post-visual-editor h4.wp-block[data-type="core/heading"] { font-size: 1.35rem !important; }
}


/* Lists
-------------------------------------------------------*/
dd, li {
	margin-bottom: 0;
}

.edit-post-visual-editor .wp-block[data-type="core/list"] ol,
.edit-post-visual-editor .wp-block[data-type="core/list"] ul {
	margin-left: 0;
	padding-left: 1.2em;
}


/* Separators
-------------------------------------------------------*/
.wp-block-separator:not(.is-style-wide):not(.is-style-dots) {
	max-width: 100%;
}

.wp-block-separator {
	border-bottom: 1px solid $border-color;
}

.wp-block-separator.is-style-dots::before {
	font-weight: 700;
}


/* Tables
-------------------------------------------------------*/
.edit-post-visual-editor {
	table {
		border-spacing: 0;
	}

	td,
	th {
		border-color: $border-color;
	}

	th {
		text-align: left;
	}

	.wp-block-table__cell-content {
		padding: 10px;
	}
}

.wp-block-table.is-style-stripes tr:nth-child(odd) {
	background-color: $bg-light;
}


/* Cover Image
-------------------------------------------------------*/
.wp-block-cover .wp-block-cover-text {
	font-size: 2em;
}

[data-align=left] .wp-block-cover,
[data-align=left] .wp-block-cover-image,
[data-align=right] .wp-block-cover,
[data-align=right] .wp-block-cover-image {
	max-width: 100%;
}

.editor-styles-wrapper .wp-block[data-type="core/cover"][data-align="left"] .is-block-content,
.editor-styles-wrapper .wp-block[data-type="core/cover"][data-align="right"] .is-block-content {
	min-width: 40%;
	margin-bottom: 1.5em;
}


/* Captions
-------------------------------------------------------*/
.wp-block-image figcaption,
.wp-block-embed figcaption,
.wp-block-audio figcaption {
	color: $meta-color;
}


/* Blockquotes
-------------------------------------------------------*/
blockquote {
	margin: 0;
}

.edit-post-visual-editor {

	.wp-block-quote {
		border-left: 0 !important;
		background-color: $bg-light;
		padding: 40px !important;
	}

	.wp-block-quote p {
		color: $heading-color;
		line-height: 1.6 !important;
		font-size: 1.25rem !important;
		margin-bottom: 5px;
	}

	.wp-block-quote__citation {
		font-size: 0.9375rem;
		font-style: italic;
		color: $meta-color;
	}
}

// Large
.wp-block-quote.is-large p,
.wp-block-quote.is-style-large p {
	font-style: normal;
}

.edit-post-visual-editor .wp-block-quote.is-large p,
.edit-post-visual-editor .wp-block-quote.is-style-large p {
	font-size: 1.5rem !important;
	line-height: 1.6 !important;
}


/* Pullquotes
-------------------------------------------------------*/
.wp-block-pullquote {
	position: relative;
	border-color: $border-color;
	text-align: left;
	color: $heading-color;
	margin-top: 8px;
	padding: 3em 1em;

	p {
		margin-bottom: 5px;
		line-height: 28px;
	}

	.wp-block-pullquote__citation {
		text-transform: none;
		opacity: 0.7;
		font-style: italic;
		font-size: 0.9375rem;
		margin-top: 1em;
	}
}

// Alignment
@include bp-sm-up {
	.wp-block[data-align=left] .wp-block-pullquote,
	.wp-block[data-align=right] .wp-block-pullquote {
		max-width: 40%;
	}

	.wp-block[data-align=left] .wp-block-pullquote {
		margin-right: 2em /*!rtl:end:ignore*/;
	}

	.wp-block[data-align=right] .wp-block-pullquote {
		margin-left: 2em /*!rtl:end:ignore*/;
	} 
}

// Solid Color
.wp-block-pullquote.is-style-solid-color {
	blockquote>.editor-rich-text p {
		font-size: 28px;
	}

	blockquote p {
		margin-bottom: 5px;
	}
}


/* Buttons
-------------------------------------------------------*/
.wp-block-button {

	.wp-block-button__link {
		padding: 18px 34px;
		font-size: 0.8125rem;
		text-transform: uppercase;
		letter-spacing: 0.14em;
		border-radius: 0;
		font-weight: 300;
		line-height: 1.1 !important;
		font-family: $heading-font;
	}

	&.is-style-outline {
		border-color: #000000;

		.wp-block-button__link {
			background: transparent !important;
		}
	}

	&:not(.is-style-outline) .wp-block-button__link {
		background: $main-color;
	}

}


/* Latest Posts / Categories / Comments
-------------------------------------------------------*/
.edit-post-visual-editor .wp-block-categories ul,
.edit-post-visual-editor ul.wp-block-archives {
	padding-left: 18px;
	margin-left: 0;
}

.edit-post-visual-editor .wp-block-latest-posts {
	margin-left: 0;
	padding-left: 0;

	li {
		margin-bottom: 24px;
	}

	a {
		display: inline-block;
		line-height: 1.3;
	}
}


/* Preformatted / Verse
-------------------------------------------------------*/
.wp-block-code,
.wp-block-preformatted pre,
.wp-block-verse {
	font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
	font-size: 1em;
	margin-top: 0;
	margin-bottom: 1rem;
	overflow: auto;
	color: inherit;
}

.wp-block-verse pre,
pre.wp-block-verse {
	color: inherit;
	padding: 0;
}


/* Recipes
-------------------------------------------------------*/
.wprm-recipe-template-meridia {
	padding: 20px !important;
	
	h3.wprm-recipe-header {
		font-size: 1em;
	}
}